<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Eat that burger!{{else}} Wait. I didnt eat that... yet.{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Delete the burger!</button>
</li>